<h1 class="text-center mt-5">Address Book Manager</h1>
<div class="mt-3 text-center">
    <button class="btn btn-primary" onclick="window.location.href = '@Url.Action("auth")'">Login</button>
</div>
@* <div class="text-center mt-3"> *@
@*     <a class="btn btn-secondary" asp-action="Add" asp-controller="Student">New User? Register Here</a> *@
@* </div> *@