@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Student List</h1>
    <p>An address book web application that can do the operations like create, read, edit, delete. This application can be used to store the details of a student like unique identification number, name of the student, e-mail of the student, phone number of the student</p>
</div>
